{% if works is defined and (works|length > 0) %}
    {% for work in works %}
        <div class="flex-item">
            {% set target = work.linkInformation is null ? '' : work.linkInformation.target %}
            {% set text = work.linkInformation is null ? null : work.linkInformation.text %}
            {% set link = work.linkInformation is null ? null : work.linkInformation.href %}

            {% if link is not null %}
                <a href="{{ link }}" target="{{ target }}">
            {% endif %}

                <div class="box work {% for category in work.categories %}{{ category.name is defined ? category.name : '' }} {% endfor %}">
                    <div class="box-img">{{ (work.image is defined ? work.image.thumbnail('newsThumbnail').html : '')|raw }}</div>
                    <div class="box-content">
                        <h4>
                            <span class="title-description">
                                <span class="title">{{ work.title is defined ? work.title : '' }}</span>
                                <span class="description">{{ work.description is defined ? work.description : '' }}</span>
                            </span>

                            {% if work.categories is defined and (work.categories|length > 0) %}
                                <span class="category">in {% for category in work.categories %}{{ category.name is defined ? category.name : '' }}{% endfor %}</span>
                            {% endif %}
                        </h4>
                    </div>
                </div>

            {% if link is not null %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}