<!-- HERO START -->
<section class="hero index{{ simple_mode|default(null) ? '' : ' auto-height' }}">
    <header class="header">
        {% set navStartNode = document.getProperty('navigation_root') %}

        {% set currentLink = app.request.getPathInfo %}
        {% set contactLink = '/' ~ locale ~ '/' ~ (locale is same as('de') ? 'kontakt' : 'contact') %}
        {% set blogLink = '/' ~ locale ~ '/' ~ 'blog' %}


        {% if currentLink starts with '/en/contact' or currentLink starts with '/de/kontakt' %}
            {% set enLink = '/en/contact' %}
            {% set deLink = '/de/kontakt' %}
        {% elseif currentLink starts with '/en/blog' or currentLink starts with '/de/blog' %}
            {% set enLink = '/en/blog' %}
            {% set deLink = '/de/blog' %}
        {% else %}
            {% set enLink = '/en' %}
            {% set deLink = '/de' %}
        {% endif %}

        <nav class="navbar navbar-expand-lg bg-transparent mb-20">
            <div class="container-fluid pt-40 pl-40 pr-40">
                <a class="navbar-brand" href="{{ navStartNode }}{% if locale is same as('de') %}de{% endif %}{% if locale is same as('en') %}en{% endif %}"><h2>it</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-nav-left me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            {% if currentLink starts with contactLink %}
                                <a class="nav-link active disabled" href="{{ contactLink }}">{{ 'contact'|trans }}</a>
                            {% else %}
                                <a class="nav-link" href="{{ contactLink }}">{{ 'contact'|trans }}</a>
                            {% endif %}
                        </li>

                        {% if currentLink starts with blogLink %}
                            <li class="nav-item">
                                <a class="nav-link active disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ 'blog'|trans }}
                                </a>
                            </li>
                        {% else %}
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ 'blog'|trans }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ blogLink }}">{{ 'blog-overview'|trans }}</a></li>
                                    <li><hr class="dropdown-divider"></li>

                                    {% for latestBlog in latestBlogs %}
                                        <li><a class="dropdown-item" href="{{ latestBlog.slug }}" title="{{ latestBlog.short_description }}">{{ latestBlog.title }} ({{ latestBlog.posted }})</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                    </ul>

                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item no-mobile">
                            <a class="nav-link light" href="tel:+49-151-70070706">(+49-151-70070706)</a>
                        </li>

                        <li class="nav-item no-mobile">
                            <a class="nav-link" href="mailto:{{ 'personal.email'|trans|raw }}">{{ 'personal.email'|trans|raw }}</a>
                        </li>

                        <li class="nav-item nav-line-before">
                            {% if locale is same as('de') %}
                                <a class="nav-link active disabled" href="{{ deLink }}">de</a>
                            {% else %}
                                <a class="nav-link" href="{{ deLink }}">de</a>
                            {% endif %}
                        </li>
                        <li class="nav-item nav-line-after">
                            {% if locale is same as('en') %}
                                <a class="nav-link active disabled" href="{{ enLink }}">en</a>
                            {% else %}
                                <a class="nav-link" href="{{ enLink }}">en</a>
                            {% endif %}
                        </li>
                    </ul>
                    <!--form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form-->
                </div>
            </div>
        </nav>
    </header>
    <div class="inner-hero">
        <canvas class="background-img gradient-hero"></canvas>

        {% if not simple_mode|default(null) %}
            <div class="background-map gradient-hero svg"></div>
            <div class="container hero-content index">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="profile-img ">{{ pimcore_image('profile_image', {
                            thumbnail: 'heroProfileImage'
                        }) }}</div>
                        <div class="profile-name mt-30"><h2>{{ pimcore_input('author') }}<span>{{ pimcore_input('subtitle') }}</span></h2></div>
                        <div class="profile-social mt-30">
                            <ul class="social">
                                {% for linkSocial in linkSocials %}
                                    {% if editmode %}
                                        <li>
                                            <a href="{{ linkSocial.link() }}">
                                                <i class="{{ linkSocial.css_class }}"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ linkSocial.link() }}">
                                                <i class="{{ linkSocial.css_class }}"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <a class="top scroll" href="#about"><i class="icon-down-open"></i></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
<!-- HERO END -->