<!-- HERO START -->
<section class="hero index{{ simple_mode|default(null) ? '' : ' auto-height' }}">
    <header class="header">
        {% set navStartNode = document.getProperty('navigation_root') %}

        {% set currentLink = app.request.getPathInfo %}
        {% set contactLink = '/' ~ locale ~ '/' ~ (locale is same as('de') ? 'kontakt' : 'contact') %}
        {% set blogLink = '/' ~ locale ~ '/' ~ 'blog' %}


        {% if currentLink starts with '/en/contact' or currentLink starts with '/de/kontakt' %}
            {% set enLink = '/en/contact' %}
            {% set deLink = '/de/kontakt' %}
        {% elseif currentLink starts with '/en/blog' or currentLink starts with '/de/blog' %}
            {% set enLink = '/en/blog' %}
            {% set deLink = '/de/blog' %}
        {% else %}
            {% set enLink = '/en' %}
            {% set deLink = '/de' %}
        {% endif %}

        <div class="logo left-part"><a href="{{ navStartNode }}{% if locale is same as('de') %}de{% endif %}{% if locale is same as('en') %}en{% endif %}"><h2>it</h2></a></div>
        <div class="right-part short-contact">
            <ul>
                <li class="next language-selector">
                    {% if locale is same as('de') %}
                        <span class="light selected">de</span>
                    {% else %}
                        <a class="dark" href="{{ deLink }}">de</a>
                    {% endif %} |
                    {% if locale is same as('en') %}
                        <span class="light selected">en</span>
                    {% else %}
                        <a class="dark" href="{{ enLink }}">en</a>
                    {% endif %}
                </li>

                <li class="next">
                    {% if currentLink starts with blogLink %}
                        <span class="light selected">{{ 'blog'|trans }}</span>
                    {% else %}
                        <a class="dark" href="{{ blogLink }}">{{ 'blog'|trans }}</a>
                    {% endif %}
                </li>

                <li class="next">
                    {% if currentLink starts with contactLink %}
                        <span class="light selected">{{ 'contact'|trans }}</span>
                    {% else %}
                        <a class="dark" href="{{ contactLink }}">{{ 'contact'|trans }}</a>
                    {% endif %}
                </li>

                <li class="next"><a class="dark" href="mailto:{{ 'personal.email'|trans|raw }}">{{ 'personal.email'|trans|raw }}</a></li>

                <li><a class="light" href="tel:+49-151-70070706">(+49-151-70070706)</a></li>
            </ul>
        </div>
    </header>
    <div class="inner-hero">
        <canvas class="background-img gradient-hero"></canvas>

        {% if not simple_mode|default(null) %}
            <div class="background-map gradient-hero svg"></div>
            <div class="container hero-content index">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="profile-img ">{{ pimcore_image('profile_image', {
                            thumbnail: 'heroProfileImage'
                        }) }}</div>
                        <div class="profile-name mt-30"><h2>{{ pimcore_input('author') }}<span>{{ pimcore_input('subtitle') }}</span></h2></div>
                        <div class="profile-social mt-30">
                            <ul class="social">
                                {% for linkSocial in linkSocials %}
                                    {% if editmode %}
                                        <li>
                                            <a href="{{ linkSocial.link() }}">
                                                <i class="{{ linkSocial.css_class }}"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ linkSocial.link() }}">
                                                <i class="{{ linkSocial.css_class }}"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <a class="top scroll" href="#about"><i class="icon-down-open"></i></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
<!-- HERO END -->