{% extends 'layout/app.html.twig' %}

{% block page_css %}{% endblock %}

{% block content_mid %}
    {% include 'areas/hero/view.html.twig' with { locale: locale|default('en'), simple_mode: true } %}

    <section id="404" class="work pt-100 pb-100 page-404">
        <div class="container section-content pt-100 pb-50 white">
            <div class="block-main-title"><span class="uppercase">{{ '404'|trans }}.</span></div>
            <div class="row">
                <div class="col-md-9 offset-md-2 offset-content">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-center mt-5"><b>{{ '404'|trans }}</b></h1>
                            <h3 class="text-center mt-5">{{ 'page-not-found'|trans }}</h3>
                            <p class="text-center mt-20">{{ 'page-not-found-information'|trans }}</p>
                            <p class="text-center mt-10">{{ 'try-another-page'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_js %}{% endblock %}