<!-- CONTACT START -->
<section id="contact" class="contact pt-100 pb-100 ">
    <div class="container section-content pt-100 pb-20 white">
        <div class="block-main-title"><span class="uppercase">{{ 'contact'|trans }}.</span></div>
        <div class="row">
            <div class="col-md-9 col-md-push-2 offset-content">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="block-title mb-80"><h4>{{ 'map-location'|trans }}</h4></div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="block-content mb-80">
                            <div class="block-map" id="block-map"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-80">
                    <div class="col-md-12 ">
                        <div class="block-title mb-80"><h4>{{ 'contact-info'|trans }}</h4></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-contact text-center">
                            <i class="icon-location"></i>
                            <h4 class="mt-80 mb-5">{{ 'address'|trans }}</h4>
                            <p>{{ 'personal.address-with-street'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-contact text-center">
                            <i class="icon-phone"></i>
                            <h4 class="mt-80 mb-5">{{ 'phone'|trans }}</h4>
                            <p><a href="tel:{{ 'personal.telephone'|trans|raw }}">{{ 'personal.telephone'|trans|raw }}</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-contact text-center">
                            <i class="icon-email"></i>
                            <h4 class="mt-80 mb-5">{{ 'email'|trans }}</h4>
                            <p><a href="mailto:{{ 'personal.email'|trans|raw }}">{{ 'personal.email'|trans|raw }}</a></p>
                        </div>
                    </div>
                </div>
                <!--div class="row "><div class="col-md-12 "><div class="block-title mb-80"><h4>Senden Sie mir eine E-Mail</h4></div></div><div class="col-md-12 "><div class="block-content"><div class="block-contact" ><form class="contact-form " method="post" action="send.php"><div class="input-columns clearfix"><div class="column-1"><div class="column-inner"><input placeholder="Name" value="" id="name" name="name" type="text"></div></div><div class="column-2"><div class="column-inner"><input placeholder="Email" value="" id="email" name="email" type="text"></div></div></div><input placeholder="Subject" value="" id="subject" name="subject" type="text"><textarea name="message" placeholder="Message" id="message" cols="45" rows="15"></textarea><input value="send your email" class="but brd-o submit" type="submit"></form><div class="success"><h2>Your message has been sent. Thank you!</h2></div><div class="error"><h2>Sorry your message can not be sent.</h2></div></div></div></div></div-->
            </div>
        </div>
    </div>
</section>
<!-- CONTACT END -->