<!-- CONTACT START -->
<section id="contact" class="contact pt-100 pb-100 ">
    <div class="container section-content pt-100 pb-20 white">
        <div class="block-main-title"><span class="uppercase">{{ 'contact'|trans }}.</span></div>
        <div class="row">
            <div class="col-md-9 offset-md-2 offset-content">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="block-title mb-80"><h4>{{ 'map-location'|trans }}</h4></div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="block-content mb-80">
                            <div class="block-map" id="block-map"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-80">
                    <div class="col-md-12 ">
                        <div class="block-title mb-80"><h4>{{ 'contact-info'|trans }}</h4></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-contact text-center">
                            <i class="icon-location"></i>
                            <h4 class="mt-80 mb-5">{{ 'address'|trans }}</h4>
                            <p>{{ 'personal.address-with-street'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-contact text-center">
                            <i class="icon-phone"></i>
                            <h4 class="mt-80 mb-5">{{ 'phone'|trans }}</h4>
                            <p><a href="tel:{{ 'personal.telephone'|trans|raw }}">{{ 'personal.telephone'|trans|raw }}</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-contact text-center">
                            <i class="icon-email"></i>
                            <h4 class="mt-80 mb-5">{{ 'email'|trans }}</h4>
                            <p><a href="mailto:{{ 'personal.email'|trans|raw }}">{{ 'personal.email'|trans|raw }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT END -->