<!-- SKILLS START -->
<section class="skills pt-100 pb-100 ">
    <div class="container section-content pt-100 pb-20 white">
        <div class="block-main-title"><span class="uppercase">{{ 'skills'|trans }}.</span></div>
        <div class="row">
            <div class="col-md-9 offset-md-2 offset-content">
                <div class="row">
                    <div class="col-md-12 mb-80">
                        <div class="block-title"><h4>{{ 'professional-skills'|trans }} (<a id="button-skill-diagram">{{ 'diagram'|trans }}</a> / <a id="button-skill-table">{{ 'table'|trans }}</a>)</h4></div>
                    </div>
                    <div class="col-md-12">
                        <div class="block-content mb-80">
                            <div class="block-skills">
                                <div id="skill-diagram" class="visible">
                                    <ul class="skills-list">
                                        {% for skillProfessional in skillProfessionals %}
                                            <li class="popper">
                                                <div class="progress {{ skillProfessional.skillType }}">
                                                    <h4 class="{{ skillProfessional.rows }}{{ skillProfessional.outer ? ' outer' : '' }}">{{ skillProfessional.name|raw }}</h4>
                                                    <div class="popper-section percentage">
                                                        <span>{{ skillProfessional.scope }}%</span>
                                                    </div>
                                                </div>
                                                <div class="popper-popup" role="tooltip">
                                                    {{ skillProfessional.description }}
                                                    <div class="popper-arrow" data-popper-arrow></div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div id="skill-table" class="hidden">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Skill Level</th>
                                                <th scope="col">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for skillProfessional in skillProfessionals %}
                                                <tr>
                                                    <td>{{ skillProfessional.name|raw }}</td>
                                                    <td class="{{ skillProfessional.skillType }}">{{ skillProfessional.scope }}%</td>
                                                    <td>{{ skillProfessional.description }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title mb-80">
                            <h4>{{ 'language-skills'|trans }}</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="block-content mb-80">
                            <div class="block-language">
                                <ul class="language-list">
                                    {% for skillLanguage in skillLanguages %}
                                        <li>
                                            <span class="p{{ skillLanguage.scope }}">{{ skillLanguage.scope }}%</span>
                                            <h4 class="mt-70">{{ skillLanguage.language_select|trans }}<br>{{ skillLanguage.description }}</h4>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title mb-80"><h4>{{ 'personal-skills'|trans }}</h4></div>
                    </div>
                    <div class="col-md-12">
                        <div class="block-content mb-80">
                            <div class="block-personal">
                                <ul class="personal-list">
                                    {% for skillPersonal in skillPersonals %}
                                        <li>{{ skillPersonal.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILLS END -->