<!-- SKILLS START -->
<section class="skills pt-100 pb-100 ">
    <div class="container section-content pt-100 pb-20 white">
        <div class="block-main-title"><span class="uppercase">{{ 'skills'|trans }}.</span></div>
        <div class="row">
            <div class="col-md-9 offset-md-2 offset-content">
                <div class="row">
                    <div class="col-md-12 mb-80">
                        <div class="block-title">
                            <h4>
                                {{ 'professional-skills'|trans }}
                                (<span class="button-skill-diagram" id="button-skill-diagram"><span class="icon-chart-bar-3"></span>{{ 'diagram'|trans }}</span> /
                                <span class="button-skill-table" id="button-skill-table"><span class="icon-th-list-2"></span> {{ 'table'|trans }}</span>)
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="block-content mb-80">
                            <div class="block-skills">
                                <div class="skill-diagram visible" id="skill-diagram">
                                    <ul class="skills-list">
                                        {% for skillProfessional in skillProfessionals %}
                                            <li class="popper">
                                                <div class="progress {{ skillProfessional.skillType }}">
                                                    <h4 class="{{ skillProfessional.rows }}{{ skillProfessional.outer ? ' outer' : '' }}">{{ skillProfessional.name|raw }}</h4>
                                                    <div class="popper-section percentage">
                                                        <span>{{ skillProfessional.scope }}%</span>
                                                    </div>
                                                </div>
                                                <div class="popper-popup" role="tooltip">
                                                    {{ skillProfessional.description }}
                                                    <div class="popper-arrow" data-popper-arrow></div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="skill-table hidden" id="skill-table">
                                    <div class="col-md-12">
                                        <div class="block-content mb-80">
                                            <div class="timeline skills ">
                                                <div class="timeline-content pt-100">
                                                    {% for skillProfessional in skillProfessionals %}
                                                        <div class="block-timeline mb-5">
                                                            <div class="timeline-date wide-display {{ skillProfessional.skillType }}">
                                                                <span>{{ skillProfessional.name|replace({'<br>': ' '})|raw }}</span>
                                                            </div>
                                                            <div class="timeline-desc">
                                                                <p class="mb-10 mt-10">{{ skillProfessional.description }}</p>
                                                                <p class=""><strong>Skill level</strong>: {{ skillProfessional.scope }}%</p>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title mb-80">
                            <h4>{{ 'language-skills'|trans }}</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="block-content mb-80">
                            <div class="block-language">
                                <ul class="language-list">
                                    {% for skillLanguage in skillLanguages %}
                                        <li>
                                            <span class="p{{ skillLanguage.scope }}">{{ skillLanguage.scope }}%</span>
                                            <h4 class="mt-70">{{ skillLanguage.language_select|trans }}<br>{{ skillLanguage.description }}</h4>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title mb-80"><h4>{{ 'personal-skills'|trans }}</h4></div>
                    </div>
                    <div class="col-md-12">
                        <div class="block-content mb-80">
                            <div class="block-personal">
                                <ul class="personal-list">
                                    {% for skillPersonal in skillPersonals %}
                                        <li>{{ skillPersonal.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILLS END -->